# source: https://github.com/kubernetes-sigs/external-dns/blob/master/charts/external-dns/values.yaml

provider: 
  name: cloudflare
env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-key
        key: apiKey
