# source: https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml

ingressClass:
  enabled: true
  isDefaultClass: false
  name: traefik-public

providers:
  kubernetesCRD:
    enabled: true
    ingressClass: traefik-public
  kubernetesIngress:
    enabled: true
    ingressClass: treafik-public
