# source: https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml

ingressClass:
  enabled: true
  isDefaultClass: true
  name: traefik-internal

providers:
  kubernetesCRD:
    enabled: true
    ingressClass: traefik-internal
  kubernetesIngress:
    enabled: true
    ingressClass: traefik-internal
