# source: https://github.com/obeone/charts/blob/main/charts/technitium-dnsserver/values.yaml

image:
  repository: technitium/dns-server
  tag: latest@sha256:94f2b90d63f03181421152157a8099ea2752b13fa30b6c96833859be8e93dfa9 # 14.3.0

persistence:
  config:
    enabled: true
    storageClass: local-storage
    size: 10Gi
    mountPath: /etc/dns
